:root {
	--in-use-color: rgba(66, 134, 244, 0.5)
}

body {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: 1fr 1fr 1fr auto auto;
	grid-template-areas:
		". . . logo logo title title title title title . . ."
		". . . logo logo title title title title title . . ."
		". . . nav  nav  nav   nav   nav   nav   nav   . . ."
		". . . main main main  main  main  side  side  . . ."
		". . . foot foot foot  foot  foot  foot  foot  . . .";
}

#site-title {
	grid-area: title;
	text-align: center;
}
nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas:
		". . . . old-index . . ";
}
#old-index {
	grid-area: old-index;
}
#main {
	grid-area: main;
}

#side-bar {
	grid-area: side;
}

.invisible {
	display: none;
}
.visible {
	display: block;
}

.in-use {
	background-color: var(--in-use-color);
}