:root {
	--hover-bg-color: rgba(66, 134, 244, 0.5);
	--active-bg-color: rgba(127, 127, 127, 0.5);
}

body {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: 1fr 1fr auto;
	grid-template-areas:
		". . . title title title title title title   title     . . ."
		". . . nav  nav  nav   nav   nav   nav       nav       . . ."
		". . . main main main  main  main  side-bar  side-bar  . . .";
}

#site-title {
	grid-area: title;
	text-align: center;
}
nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas:
		". . . index about-page-link  . . . ";
}
#about-page-link {
	grid-area: about-page-link;
}

#index {
	grid-area: index;
}
#main {
	grid-area: main;
}

#side-bar {
	grid-area: side-bar;
}

#post-editor {

}

.invisible {
	display: none;
}
.visible {
	display: block;
}

.active {
	background-color: var(--active-bg-color);
}

.toolbtn:hover {
	background-color: var(--hover-bg-color);
}
#toolbar > div {
	display: inline;
}
#font-tool-group {
	padding: auto;
}